<!--
h1 {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20pt; 
	font-weight: bold; 
	text-decoration: none; color: #666666
}
h2 {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14pt; 
	font-weight: bold; 
	text-decoration: none; color: #666666
}
h3 {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12pt; 
	font-weight: bold; 
	text-decoration: none; 
	color: #666666
}
a { 
     font-family: Arial, Helvetica, sans-serif; 
     color: #999999; 
} 
a:hover { 
     font-family: Arial, Helvetica, sans-serif; 
     color: #FF0000; 
} 
a:visited { 
     font-family: Arial, Helvetica, sans-serif; 
     color: #333333; 
}
th { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #666666; 
	background-color: #E1E1E1; 
	padding-top: 3px; 
	padding-right: 3px; 
	padding-left: 8px 
}
tr { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	padding-top: 3px; 
	padding-right: 3px; 
	padding-left: 8px 
}
.textFlow,p,blockquote,br,ul,ol {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; color: #444444
}
.tableTxt {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	color: #666666; 
	background-color: #F6F6F6; 
	padding-top: 3px; 
	padding-right: 3px; 
	padding-left: 8px; 
	border: #666666; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}
.tableTxt2 { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	color: #666666; 
	background-color: #EEEEEE; 
	padding-top: 3px; 
	padding-right: 3px; 
	padding-left: 8px 
}
.techDescription {  
	font-family: "Courier New", Courier, mono; 
	font-size: 9pt; 
	color: #003399; 
	padding-right: 4px; 
	padding-bottom: 4px
}
.date {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	color: #999999; 
	font-style: italic
}
body { 
	background-image:url(images/mec_BackgroundHTMLdoc.jpg); 
	background-attachment:fixed; 
}
.coloredBoxLong {
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 8px;
    padding-top: 8px;
    margin: 5px;
    margin-bottom: 30px;
}

-->
