body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    background-image: url(../../images/bgpage.jpg);
    background-repeat: repeat-x;
    background-position: 0px 161px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
}

ul, 
li, 
ul ul, 
ul ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

a {
    color: #FF6600;
    text-decoration: none;
}
        a:hover {
            color: #FF0000;
            text-decoration: underline;
        }
        a img {
            border: 0;
        }

#banner {
     position: absolute; 
     top: 172px; 
     left: 245px; 
     width: 521px; 
     height: 100px; 
     z-index:8;
}

#backhome {
    position: absolute;
    top: 51px;
    left: 12px;
    width: 373px;
    height: 72px;
    z-index: 4;
    padding: 0;
    margin: 0;
}
        #backhome a {
            display: block;
            width: 373px;
            height: 72px;
            padding: 0;
            margin: 0;
        }

#logo {
    height: 160px;
    background-image: url(../../images/logo.jpg);
    overflow: hidden;
}

#breadcrumb{
	margin-top: 20px;
    	margin-left: 20px;
}

#navigation {
    position: absolute;
    top: 173px;
    left: 28px;
    width: 165px;
    height: 300px;
    background-image: url(../../images/navi/bgnavi.jpg);
    border: 1px solid #A0A2A1;
}

#navlist {
    margin-top: 28px;
    margin-left: 0px;
    list-style-type: none;
}
        #navlist li {
            margin: 0px;
            padding: 0;
            height: 20px;
        }
                #navlist li.active {
                    font-weight: bold;
                    color: #FFFFFF;
                }
                #navlist li.language {
                    margin-top: 19px;
                }

        #navlist ul {
            background-image: url(../../images/navi/bgsubnavi.jpg);
            border: 1px solid #76767F;
        }
                #navlist ul li {
                    margin: 0;
                    padding: 0;
                    height: 16px;
                }
                        #navlist ul li.higher {
                            margin: 0;
                            padding: 0;
                            height: 28px !important;
                        }
                        #navlist ul li a,
                        #navlist ul li.higher a {
			    margin-left: -1px;
			    margin-right: -1px;
                            font-family: Verdana, Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            text-decoration: none;
                            color: #FFFFFF;
                            display: block;
                            padding-left: 27px;
                            padding-top: 1px;
                            height: 16px;
                        }
                                #navlist ul li.higher a {
                                    height: 28px;
                                }
                                #navlist ul li.active a,
                                #navlist ul li.active a:hover {
                                    color: #333333;
                                    text-decoration: none;
                                    background-color: #DDDDDD;
                                }
                                #navlist ul li.higher .active a,
                                #navlist ul li.higher .active a:hover {
                                    height: 28px;
                                }
                        #navlist ul li a:hover {
                            background-color: #999999;
                            /*color: #333333;*/
                        }

        #navlist img {
            border-top: 1px solid #5D5F67;
            border-bottom: 1px solid #5D5F67;
        }
                #navlist li.language img {
                    border: 0 none;
                }


#navlist2{
    	margin-top: 203px;
    	margin-left: 5px;
}

#content {
    position: absolute;
    top: 160px;
    margin-left: 224px;
    width: 586px; /* CONTENT WIDTH: 562px !! BUT BGIMAGE IS SLIGHTLY LARGER */
    background-image: url(../../images/bgcontent.gif);
}
        #content ul,
        #content ul ul,
        #content ul ul ul {
            padding-left: 5px;
        }
                #content ul li,
                #content ul ul li, 
                #content ul ul ul li {
                    padding-bottom: 6px;
                    padding-left: 18px;
                    background: url(../../images/listitem.gif) 3px 2px no-repeat;
                }

h1, h2, h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
        h2 {
            font-size: 12px;
            margin-bottom: 8px;
        }
        h3 {
            font-size: 11px;
            margin-bottom: 4px;
        }

#contentwrap {
    
}

#inner,
#innersmall {
    float: left;
    width: 500px;
    margin-top: 10px;
    padding: 0 20px 30px 20px;
    /*border: 1px solid;*/
}
        #innersmall {
            width: 330px;
            padding-bottom: 100px;
        }
#bottomcontent {
    width: 586px;
    height: 23px;
    background-image: url(../../images/bottomcontent.gif);
}


#teaserboxDummy {
    margin-top: 10px;
}

/* box */
.teaserbox {
    float: left;
    width: 180px;
    margin-bottom: 40px;
}

.boxtop {
    width: 180px;
    height: 17px;
    background-image: url(../../images/boxtop.jpg);
}

.boxcontent {
    background-image: url(../../images/boxbg.jpg);
    padding: 0px 24px 0 20px;
}
        .boxcontent h3,
        .boxcontent p {
            color: #003366;
            margin: 0;
            padding: 0;
        } 
                .boxcontent h3 {
                    margin-bottom: 4px;
                    border-bottom: 1px solid #CCCCCC;
                }
                .boxcontent p {
                    padding-bottom: 5px;
                }

.boxbottom {
    width: 180px;
    height: 28px;
    background-image: url(../../images/boxbottom.jpg);
    margin-bottom: 30px;
}

hr {
    height: 1px;
    border: 0 none;
    border-top: 1px solid #CCCCCC;
    margin: 20px 0 15px 0;
    padding: 0;
}



/* helper */
.dummy br,
.dummyHomepage br{
    font-size: 1px;
}

.clear {
    clear: both;
    font-size: 1px;
}


/* 
.partnerlogo {
    width: 219px;
    display: inline;
    margin-bottom: 30px;
    margin-right: 20px;
}*/

.partnerlogo {
    width: 145px;
    display: inline;
    margin-bottom: 30px;
    margin-right: 20px;
}

.events {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}
        .events .eventimg {
/*            float: left;*/
            width: 250px;
        }
        .events .infotext {
/*            float: left;*/
            width: 180px;
            padding-right: 15px;
        }
        .firstItem {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid #CCCCCC;
        }

.featureBox {
    width: 300px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    padding: 8px;
    padding-top: 0;
    margin: 5px;
    margin-bottom: 30px;
}
        .featureBox h3 {
            font-size: 11px;
            margin-top: 8px;
            margin-bottom: 4px !important;
            padding: 0;
        }
        .featureBox p {
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
        }

.featureBoxLarge {
    width: 430px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    padding: 8px;
    padding-top: 0;
    margin: 5px;
    margin-bottom: 30px;
}
        .featureBox h3 {
            font-size: 11px;
            margin-top: 8px;
            margin-bottom: 4px !important;
            padding: 0;
        }
        .featureBox p {
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
        }

.coloredBox {
    width: 150px;
    border: 1px solid #DDDDDD;
    background-color: #F0F9FF;
    padding: 8px;
    padding-top: 0;
    margin: 5px;
    margin-bottom: 30px;
}
        .coloredBox h3 {
            font-size: 11px;
            margin-top: 8px;
            margin-bottom: 4px !important;
            padding: 0;
        }
        .coloredBox p {
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
        }

.coloredBoxLong {
    width: 485px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 8px;
    padding-top: 0;
    margin: 5px;
    margin-bottom: 30px;
}

#companylogos {
    position: absolute;
    top: 450px;
    left: 244px;
}

